@import "components/header.css";
@import "components/footer.css";

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: 768px;
}

body, code {
	font-size: 16px;
}

a {
  color: #00e;
  text-decoration: none;
}
